$colorprimario: #84425b;
$colorsecundario: #ffffff;
$font: 'Chewy', cursive;

.form-control{
    background-color: #f3edf0;
    border: 1px solid $colorprimario;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
    &:hover{
        background-color: $colorsecundario;
        border: solid 1px #f3f3f4;
        box-shadow: 0 0 4px $colorprimario;
    }
    &:focus{
        background-color: $colorsecundario;
        border: solid 1px #f3f3f4;
        box-shadow: 0 0 4px $colorprimario;
    }
    &::placeholder{
        color: $colorprimario;
    }

}

.form-check-input{
    border-color: $colorprimario;
    &:checked{
        background-color: $colorprimario;
        border-color: $colorprimario;
    }
    &:focus{
            box-shadow: none;
            border-color: $colorprimario;
    }
}

.form-text{
    padding-left: 1.2rem;
    margin-bottom: 0;
}

.row>*{
    padding-right: 0;
    padding-left: 0;
}

.tecnica{
    color: $colorprimario;
    h3{
        font-family: $font;
    }
}

